@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    margin-left: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p{
  border: 2px solid gray;
  width: 30%;
  margin-bottom: 5px;
  border-radius: 7px;
  padding: 3px;
}

h1{
  margin: 10px;
  color: #1976d2;
}

h2{
  margin: 10px;
  color: #1976d2;
}

.button{
  margin: 10px;
}
